/*
color
*/
$cWhite: #ffffff;
$cBlack: #333;
$cGreen: #38D0DD;


/*
backgrand-color
*/
$bcGray: #707070;
$cBrown: #681216;

/*
font
*/
$mainFont: Helvetica, Arial, "游ゴシック Medium", 游ゴシック体, "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic ProN", "Hiragino Sans", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$subFont: 'League Gothic', 'Noto Sans JP','Sriracha' sans-serif;

/*
fontsize
*/
$sm-A: 36px;
$sm-B: 64px;

$sm-rg-A: 14px;
$sm-rg-B: 18px;
$sm-rg-C: 20px;
$sm-rg-D: 22px;

$rg-A: 10px;
$rg-B: 16px;
$rg-C: 32px;
$rg-D: 38px;
$rg-E: 62px;
$rg-F: 70px;
$rg-G: 120px;
