.title {
  p {
    color: red;
  }
}

ul {
  // background-color: #666;
  li {
    list-style: none;
  }
}

.slick-prev {
  left: 50px !important;
  z-index: 100;
}
.slick-next {
  right: 50px !important;
  z-index: 100;
}